# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Large datasets
data/
datasets/
*.csv
*.zip
*.tar.gz
*.h5
*.pth
*.pt
*.ckpt